{% extends 'base.html' %}

{% block title %} Articel {% endblock title %}

{% block content %}
    <div class="article_detial">
        <div class="article" style="text-align:center;">
            <img src="{{articel.Image.url}}">
            <hr>
            <h3>{{ articel.title }}</h3>
    <br>
            <p>{{ articel.body }}</p>
        <br>
        <p class="creatdate">{{ articel.date }}</p>
        <p class='author'>Added by {{articel.author.username}}</p>
        </div>
    </div>
{% endblock content %}